#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 17px;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#header1-3 P {
  color: #efefef;
  font-size: 18px;
}
#header1-3 H1 {
  color: #efefef;
}
#testimonials1-6 .mbr-section__header {
  color: #efefef;
}
#testimonials1-6 .mbr-reviews__text P {
  font-size: 16px;
}
#testimonials1-6 .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-6 .mbr-reviews__author-name {
  color: #efefef;
}
#form1-5 .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#dropdown-menu-b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-b .navbar-brand a {
  font-size: 17px;
}
#dropdown-menu-b .nav .link,
#dropdown-menu-b .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-b .navbar,
#dropdown-menu-b .dropdown-menu {
  background: #333333;
}
#dropdown-menu-b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-b .dropdown-menu a:hover,
#dropdown-menu-b .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-b .navbar-toggler {
  color: #ffffff;
}
#header1-c H1 {
  font-size: 36px;
  color: #f97352;
}
#header1-c P {
  font-size: 18px;
  color: #efefef;
}
#msg-box3-m .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-m .mbr-article P {
  color: #ffffff;
}
#msg-box3-m .mbr-article LI {
  color: #ffffff;
}
#msg-box3-2t .mbr-header .mbr-header__text {
  text-align: center;
  color: #efefef;
}
#msg-box3-2t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2t .mbr-article P {
  color: #efefef;
}
#testimonials1-d .mbr-section__header {
  color: #efefef;
}
#testimonials1-d .mbr-reviews__text P {
  font-size: 16px;
}
#testimonials1-d .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-d .mbr-reviews__author-name {
  color: #efefef;
}
#form1-e .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .navbar-brand a {
  font-size: 17px;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #333333;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-s .navbar-toggler {
  color: #ffffff;
}
#header1-t H1 {
  font-size: 36px;
  color: #f97352;
}
#header1-t P {
  font-size: 18px;
  color: #efefef;
  text-align: center;
}
#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-u .mbr-article P {
  color: #ffffff;
}
#msg-box3-u .mbr-article LI {
  color: #ffffff;
}
#msg-box3-11 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-11 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-11 .mbr-article P {
  color: #ffffff;
}
#msg-box3-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-12 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-12 .mbr-article P {
  color: #ffffff;
}
#testimonials1-x .mbr-section__header {
  color: #efefef;
}
#testimonials1-x .mbr-reviews__text P {
  font-size: 16px;
}
#testimonials1-x .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-x .mbr-reviews__author-name {
  color: #efefef;
}
#form1-y .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#dropdown-menu-16 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-16 .navbar-brand a {
  font-size: 17px;
}
#dropdown-menu-16 .nav .link,
#dropdown-menu-16 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-16 .navbar,
#dropdown-menu-16 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-16 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-16 .dropdown-menu a:hover,
#dropdown-menu-16 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-16 .navbar-toggler {
  color: #ffffff;
}
#header1-17 H1 {
  font-size: 36px;
  color: #f97352;
}
#header1-17 P {
  font-size: 18px;
  color: #efefef;
}
#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-18 .mbr-article P {
  color: #ffffff;
}
#msg-box3-18 .mbr-article LI {
  color: #ffffff;
}
#testimonials1-1a .mbr-section__header {
  color: #efefef;
}
#testimonials1-1a .mbr-reviews__text P {
  font-size: 16px;
}
#testimonials1-1a .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-1a .mbr-reviews__author-name {
  color: #efefef;
}
#form1-1b .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#dropdown-menu-1f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1f .navbar-brand a {
  font-size: 17px;
}
#dropdown-menu-1f .nav .link,
#dropdown-menu-1f .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1f .navbar,
#dropdown-menu-1f .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1f .dropdown-menu a:hover,
#dropdown-menu-1f .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1f .navbar-toggler {
  color: #ffffff;
}
#header1-1g H1 {
  font-size: 36px;
  color: #f97352;
}
#header1-1g P {
  font-size: 18px;
  color: #efefef;
}
#msg-box3-1h .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1h .mbr-article P {
  color: #ffffff;
}
#msg-box3-1h .mbr-article LI {
  color: #ffffff;
}
#testimonials1-1j .mbr-section__header {
  color: #efefef;
}
#testimonials1-1j .mbr-reviews__text P {
  font-size: 16px;
}
#testimonials1-1j .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-1j .mbr-reviews__author-name {
  color: #efefef;
}
#form1-1k .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#dropdown-menu-1m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1m .navbar-brand a {
  font-size: 17px;
}
#dropdown-menu-1m .nav .link,
#dropdown-menu-1m .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1m .navbar,
#dropdown-menu-1m .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1m .dropdown-menu a:hover,
#dropdown-menu-1m .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1m .navbar-toggler {
  color: #ffffff;
}
#header1-1n H1 {
  font-size: 36px;
  color: #f97352;
}
#header1-1n P {
  font-size: 18px;
  color: #efefef;
}
#msg-box3-1o .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1o .mbr-article P {
  color: #ffffff;
}
#msg-box3-1o .mbr-article LI {
  color: #ffffff;
}
#testimonials1-1q .mbr-section__header {
  color: #efefef;
}
#testimonials1-1q .mbr-reviews__text P {
  font-size: 16px;
}
#testimonials1-1q .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-1q .mbr-reviews__author-name {
  color: #efefef;
}
#form1-1r .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#dropdown-menu-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1v .navbar-brand a {
  font-size: 17px;
}
#dropdown-menu-1v .nav .link,
#dropdown-menu-1v .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1v .navbar,
#dropdown-menu-1v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1v .dropdown-menu a:hover,
#dropdown-menu-1v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1v .navbar-toggler {
  color: #ffffff;
}
#header1-1w H1 {
  font-size: 36px;
  color: #f97352;
}
#header1-1w P {
  font-size: 18px;
  color: #efefef;
}
#msg-box3-1x .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1x .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1x .mbr-article P {
  color: #ffffff;
}
#msg-box3-1x .mbr-article LI {
  color: #ffffff;
}
#testimonials1-1z .mbr-section__header {
  color: #efefef;
}
#testimonials1-1z .mbr-reviews__text P {
  font-size: 16px;
}
#testimonials1-1z .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-1z .mbr-reviews__author-name {
  color: #efefef;
}
#form1-20 .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#dropdown-menu-23 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-23 .navbar-brand a {
  font-size: 17px;
}
#dropdown-menu-23 .nav .link,
#dropdown-menu-23 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-23 .navbar,
#dropdown-menu-23 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-23 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-23 .dropdown-menu a:hover,
#dropdown-menu-23 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-23 .navbar-toggler {
  color: #ffffff;
}
#header1-24 H1 {
  font-size: 36px;
  color: #f97352;
}
#header1-24 P {
  font-size: 18px;
  color: #efefef;
}
#msg-box3-25 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-25 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-25 .mbr-article P {
  color: #ffffff;
}
#msg-box3-25 .mbr-article LI {
  color: #ffffff;
}
#testimonials1-27 .mbr-section__header {
  color: #efefef;
}
#testimonials1-27 .mbr-reviews__text P {
  font-size: 16px;
}
#testimonials1-27 .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-27 .mbr-reviews__author-name {
  color: #efefef;
}
#form1-28 .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#dropdown-menu-2b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2b .navbar-brand a {
  font-size: 17px;
}
#dropdown-menu-2b .nav .link,
#dropdown-menu-2b .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2b .navbar,
#dropdown-menu-2b .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2b .dropdown-menu a:hover,
#dropdown-menu-2b .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2b .navbar-toggler {
  color: #ffffff;
}
#header1-2c H1 {
  font-size: 36px;
  color: #f97352;
}
#header1-2c P {
  font-size: 18px;
  color: #efefef;
}
#msg-box3-2d .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-2d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2d .mbr-article P {
  color: #ffffff;
}
#msg-box3-2d .mbr-article LI {
  color: #ffffff;
}
#msg-box3-2r .mbr-header .mbr-header__text {
  text-align: center;
  color: #efefef;
}
#msg-box3-2r .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2r .mbr-article P {
  color: #efefef;
}
#msg-box3-2q .mbr-header .mbr-header__text {
  text-align: center;
  color: #efefef;
}
#msg-box3-2q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2q .mbr-article P {
  color: #efefef;
}
#testimonials1-2f .mbr-section__header {
  color: #efefef;
}
#testimonials1-2f .mbr-reviews__text P {
  font-size: 16px;
}
#testimonials1-2f .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-2f .mbr-reviews__author-name {
  color: #efefef;
}
#form1-2g .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#dropdown-menu-2i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2i .navbar-brand a {
  font-size: 17px;
}
#dropdown-menu-2i .nav .link,
#dropdown-menu-2i .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2i .navbar,
#dropdown-menu-2i .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2i .dropdown-menu a:hover,
#dropdown-menu-2i .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2i .navbar-toggler {
  color: #ffffff;
}
#header1-2j H1 {
  font-size: 36px;
  color: #f97352;
}
#header1-2j P {
  font-size: 18px;
  color: #efefef;
}
#msg-box3-2k .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-2k .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2k .mbr-article P {
  color: #ffffff;
}
#msg-box3-2k .mbr-article LI {
  color: #ffffff;
}
#testimonials1-2m .mbr-section__header {
  color: #efefef;
}
#testimonials1-2m .mbr-reviews__text P {
  font-size: 16px;
}
#testimonials1-2m .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-2m .mbr-reviews__author-name {
  color: #efefef;
}
#form1-2n .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
